@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{

    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:"Poppins";
}
section{
    margin-top: 100px;
}
.navegador-nav {
    background-color:#8C6AF8;
    height: 120px;
}
.contenedor-menu{
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.navegador-nav img {
    margin-top: 20px;
    width: 160px;
    height: 90px;
}
.nav-li{
    margin-top: 20px;

    list-style: none;
    display: flex;
    align-items: center;
    color: white;
}
.nav-li li{
    padding: 20px;
    font-size: 18px;
    font-family: "Poppins";
    font-weight: 500;
}
.login-content{
    border: 2px solid white;
    border-radius: 4px;
    color: #ffffff;
    padding: 6px 20px;
    text-decoration: none;  
    background-color: #fff;    

}


.login-content a {
    text-decoration: none;
    color: #8C6AF8;
    font-family: "Poppins";
    font-weight: 500;


}
.hero-doctor{
    background-image: url("../img/A.svg");
    height: 580px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.hero-text-content{
    width: 550px;
    padding: 20px;
    height: 400px;
}
.hero-text-content h3{
    margin-top: 70px;
    font-weight: 800;
    font-size: 35px;
}
.hero-text-content p{
    font-size: 24px;
    line-height: 28px;
}
.hero-content-doctor{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 10px;
}
.hero-img img{
    height: 560px;
}
.registro-enlace{
    text-decoration: none;
    color: #8C6AF8;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #fff;
    font-weight: 600;
}
.registro-enlace:hover{
    color: #de6c25;
}
.wave-explicativo{
    background-image: url("../img/magicpattern-svg-chart-1647293915190.svg");
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    color:#fff;
    text-align: center;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.wave-explicativo h3{
    padding-top: 40px;
    font-weight: 700;
    font-size: 45px;
}

.wave-explicativo p{
    padding-top: 50px;
    font-weight: 400;
    width: 60%;
    margin: auto;
    font-size: 32px;
}
/* about */
.subtitulo{
    text-align: center;
    font-weight:700;
    font-size: 40px;
}
.abut-content{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
}
.aaa{
    background-color:#8C6AF8;
    display: flex;
    padding: 15px 40px;
    margin-bottom: 15px;
    align-items: center;
    color: #fff;
}
.aaa h4{
    margin: 10px;
    font-weight:600;
}
.about-img img{
    width: 550px;
}
.aaa:hover{
    background-color: rgb(161, 126, 255);
}
.content-dr{
    width: 100%;
    background: #8C6AF8
}
.doctores{
    
    padding: 60px;
    display: flex;
    justify-content: space-around;
   
}
.contenedor{
    width: 98%;
    margin: auto;
}
.doctor{ margin: 0px 0px 20px 10px;
    text-align: center;
    color: #fff;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 20px 20px 2px  rgba(67, 69, 207, 0.733);
}
.doctor h3{
    color: #7148fa;
    margin-top: 20px;
    font-weight: 800;
}
.doctor p{
    color: rgb(105, 105, 105);
    font-weight: 600;
    width: 250px;
    padding: 0 30px;
}


.doctor img{
    border: 2px solid #8b6af800;
    width: 180px;
    height: 220px;
    border-radius: 50%;
}

.subtitulo-WHITE{
    color: #fff;
    font-size: 45px;
    font-weight: 800;
    text-align: center;
    padding-top: 80px;
}







/* === Google Font Import - Poppins === */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');






.swiper{
  width: 950px;
}

.card{
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card::before{
  content: "";
  position: absolute;
  height: 40%;
  width: 100%;
  background: #8C6AF8;
  border-radius: 20px 20px 0 0;
}

.card .card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

section .card .image{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: #8C6AF8;
}

section .card .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card .media-icons{
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i{
  color: #fff;
  opacity: 0.6;
  margin-top: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover{
  opacity: 1;
}

.card .name-profession{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  /* color: ; */
} 

.name-profession .name{
  font-size: 20px;
  font-weight: 600;
}

.name-profession .profession{
  font-size:15px;
  font-weight: 500;
}

.card .rating{
  display: flex;
  align-items: center;
  margin-top: 18px;
}

.card .rating i{
  font-size: 18px;
  margin: 0 2px;
  color: #8C6AF8;
}

.card .button{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.card .button button{
  background: #8C6AF8;
  outline: none;
  border: none;
  color: #fff;
  padding: 8px 22px;
  border-radius: 20px;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button button:hover{
  background: #8C6AF8;
}

.swiper-pagination{
  position: absolute;
}

.swiper-pagination-bullet{
  height: 7px;
  width: 26px;
  border-radius: 25px;
  background: #8C6AF8;
}

.swiper-button-next, .swiper-button-prev{
  opacity: 0.7;
  color: #8C6AF8;
  transition: all 0.3s ease;
}
.swiper-button-next:hover, .swiper-button-prev:hover{
  opacity: 1;
  color: #8C6AF8;
}







.slider{
    margin: 0;
    padding: 0px;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  .slider ul{
      display: flex;
      animation: cambio 10s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }
  .slider img{
      width: 100%;
      height: 100%;
  }
  @keyframes cambio{
      0%{margin-left: 20%;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      45%{margin-left: -100%;}
      
      50%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }
  @media only screen and (min-width:320px) and (max-width:768px){
  .slider, .slider ul, .slider img{
      height: 100vh;
  }
  }


  .navegador-nav-FOOTER {
    height: 120px;
    width: 280PX;
}